<h1>Verify SGP4 / SDP4</h1>
<p>
  <button ng-click="choose_file()">Choose File</button>
  <button ng-click="verify_sgp4()">Run Tests</button>
</p>
<table><tr ng-repeat="test in tests"><td>
  <table>
    <tr>
      <p class="tle">{{test["info"]}}</p>
      <p class="tle">{{test["tle_line_1"]}}</p>
      <p class="tle">{{test["tle_line_2"]}}</p>
    </tr>
    <tr>
      <th>TSince (min)</th>
      <th>
        X
      </th>
      <th>
        Y
      </th>
      <th>
        Z
      </th>
    </tr>
    <tr ng-repeat="results in test['results']">
      <td>{{results["time"]}}</td>
      <td>
        <table>
          <tr>
            <td>{{results["known_pos"][0]}}</td>
            <td>{{results["known_vel"][0]}}</td>
          </tr>
          <tr>
            <td>{{results["test_pos"][0]}}</td>
            <td>{{results["test_vel"][0]}}</td>
          </tr>
          <tr>
            <td>{{results["pos_error"][0]}}</td>
            <td>{{results["vel_error"][0]}}</td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>{{results["known_pos"][1]}}</td>
            <td>{{results["known_vel"][1]}}</td>
          </tr>
          <tr>
            <td>{{results["test_pos"][1]}}</td>
            <td>{{results["test_vel"][1]}}</td>
          </tr>
          <tr>
            <td>{{results["pos_error"][1]}}</td>
            <td>{{results["vel_error"][1]}}</td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>{{results["known_pos"][2]}}</td>
            <td>{{results["known_vel"][2]}}</td>
          </tr>
          <tr>
            <td>{{results["test_pos"][2]}}</td>
            <td>{{results["test_vel"][2]}}</td>
          </tr>
          <tr>
            <td>{{results["pos_error"][2]}}</td>
            <td>{{results["vel_error"][2]}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</td></tr></table>

<p><button ng-click="save_file()">Save As</button></p>
