<h1>Verify SGP4 / SDP4</h1>
<p>
  <button ng-click="choose_file()">Choose File</button>
  <button ng-click="verify_sgp4()">Run Tests</button>
</p>
<table><tr ng-repeat="test in tests"><td>
  <table>
    <tr>
      <p class="tle">{{test["info"]}}</p>
      <p class="tle">{{test["tle_line_1"]}}</p>
      <p class="tle">{{test["tle_line_2"]}}</p>
    </tr>
    <tr>
      <th>TSince (min)</th>
    </tr>
    <tr ng-repeat="results in test['results']">
      <td>{{results["time"]}}</td>
      <td>
        <table>
          <tr>
            <td></td>
            <th>Pos X</th>
            <th>Vel X</th>
            <th>Look AZ</th>
          </tr>
          <tr>
            <td>Known</td>
            <td>{{results["known_pos"]["x"]}}</td>
            <td>{{results["known_vel"]["x"]}}</td>
            <td>{{results["known_look"]["azimuth"]}}</td>
          </tr>
          <tr>
            <td>Test</td>
            <td>{{results["test_pos"]["x"]}}</td>
            <td>{{results["test_vel"]["x"]}}</td>
            <td>{{results["test_look"]["azimuth"]}}</td>
          </tr>
          <tr>
            <td>Error</td>
            <td>{{results["pos_error"]["x"]}}</td>
            <td>{{results["vel_error"]["x"]}}</td>
            <td>{{results["look_error"]["azimuth"]}}</td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td></td>
            <td>Pos Y</td>
            <td>Vel Y</td>
            <td>Look EL</td>
          </tr>
          <tr>
            <td>Known</td>
            <td>{{results["known_pos"]["y"]}}</td>
            <td>{{results["known_vel"]["y"]}}</td>
            <td>{{results["known_look"]["elevation"]}}</td>
          </tr>
          <tr>
            <td>Test</td>
            <td>{{results["test_pos"]["y"]}}</td>
            <td>{{results["test_vel"]["y"]}}</td>
            <td>{{results["test_look"]["elevation"]}}</td>
          </tr>
          <tr>
            <td>Error</td>
            <td>{{results["pos_error"]["y"]}}</td>
            <td>{{results["vel_error"]["y"]}}</td>
            <td>{{results["look_error"]["elevation"]}}</td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td></td>
            <td>Pos Z</td>
            <td>Vel Z</td>
            <td>Look ALT</td>
          </tr>
          <tr>
            <td>Known</td>
            <td>{{results["known_pos"]["z"]}}</td>
            <td>{{results["known_vel"]["z"]}}</td>
            <td>{{results["known_look"]["range_sat"]}}</td>
          </tr>
          <tr>
            <td>Test</td>
            <td>{{results["test_pos"]["z"]}}</td>
            <td>{{results["test_vel"]["z"]}}</td>
            <td>{{results["test_look"]["range_sat"]}}</td>
          </tr>
          <tr>
            <td>Error</td>
            <td>{{results["pos_error"]["z"]}}</td>
            <td>{{results["vel_error"]["z"]}}</td>
            <td>{{results["look_error"]["range_sat"]}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</td></tr></table>

<p><button ng-click="save_file()">Save As</button></p>
