body
{
    background-color: rgb(22, 0, 22);
    color: rgb(208, 208, 208);
    font-size: 24pt;
}

button
{
    background-color: rgb(64, 64, 64);
    color: rgb(208, 208, 208);
    border-color: rgb(208, 208, 208);
    border-radius: 15px;
    font-size: 24pt;
}

a:link
{
    color: green;
}

a:hover
{
    color: yellow;
}

a:active
{
    color: red;
}

a:visited
{
    color: gray;
}

td
{
    padding: 15px;
}
.tle
{
    font-family: monospace;
    white-space: pre;
}

#test_result_area
{
    overflow-y:auto;
    height:800px;
}

path {
  stroke: #c00;
  stroke-width: 3px;
}

