/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: black;
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle {
  color: var(--ifm-color-primary-light);
  background: radial-gradient(circle at right center,#4b296980,#503277 25%,#4a378c,#5340a8 65%,#39327380);
  mask-image: radial-gradient(ellipse 50% 50% at center center, #000 30%, #00000080 60%, #0000);
  padding: 2rem;
}

.heroSubtitle {
  color: var(--ifm-color-primary);
}
